Repository Zeroth-Robotics/OpenLCH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-toolchain, build-cviwrapper, build-servo, build-runtime

build-toolchain:
  tags:
  - linux-x64
  stage: build-toolchain
  services:
  - docker:dind
  image: docker:latest
  script:
  - "if [ \"$GITLAB_CI\" != \"false\" ]; then\n  echo \"$CI_REGISTRY_PASSWORD\" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin\n  docker pull $TOOLCHAIN_IMAGE:latest || true\nfi\n"
  ...

build-cviwrapper:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-servo:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-runtime:
  tags:
  - linux-x64
  stage: build-runtime
  image: $TOOLCHAIN_IMAGE:latest
  needs:
  - build-cviwrapper
  - build-servo
  script:
  - cd runtime
  - source /root/.cargo/env
  - cargo +nightly build --features risc --target riscv64gc-unknown-linux-musl -Zbuild-std --release
  artifacts:
    paths:
  ...

openlch python package boilerplate
  runtime/openlch/.darglint
  runtime/openlch/.env
  runtime/openlch/.github/workflows/publish.yml
  runtime/openlch/.github/workflows/test.yml
  runtime/openlch/.gitignore
  runtime/openlch/LICENSE
  runtime/openlch/MANIFEST.in
  runtime/openlch/Makefile
  runtime/openlch/README.md
  runtime/openlch/openlch/__init__.py
  runtime/openlch/openlch/py.typed
  runtime/openlch/openlch/requirements-dev.txt
  runtime/openlch/openlch/requirements.txt
  runtime/openlch/pyproject.toml
  runtime/openlch/setup.cfg
  runtime/openlch/setup.py
  runtime/openlch/tests/conftest.py
  runtime/openlch/tests/test_dummy.py
Due: build-cviwrapper, build-servo, build-runtime

rename
  runtime/client/.darglint
  runtime/client/.env
  runtime/client/.github/workflows/publish.yml
  runtime/client/.github/workflows/test.yml
  runtime/client/.gitignore
  runtime/client/LICENSE
  runtime/client/MANIFEST.in
  runtime/client/Makefile
  runtime/client/README.md
  runtime/client/openlch/__init__.py
  runtime/client/openlch/py.typed
  runtime/client/openlch/requirements-dev.txt
  runtime/client/openlch/requirements.txt
  runtime/client/pyproject.toml
  runtime/client/setup.cfg
  runtime/client/setup.py
  runtime/client/tests/conftest.py
  runtime/client/tests/test_dummy.py
Due: build-cviwrapper, build-servo, build-runtime

gRPC+protobuf server implementation
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/build.rs
  runtime/proto/hal_pb.proto
  runtime/src/bin/sts_server.rs
  runtime/src/hal_risc/mod.rs
  runtime/src/hal_serial/mod.rs
Due: build-cviwrapper, build-servo, build-runtime

Added protobuf compiler to toolchain
  runtime/toolchain-docker-img/Dockerfile
Due: build-toolchain, build-cviwrapper, build-servo, build-runtime

Update README.md
  README.md
Due: none

Added gRPC Web Support
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/build.rs
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

model conversion script
  inference/convert.py
  inference/main.py
Due: none

onnx example
  inference/run_onnx.py
Due: none

update feedback type
  inference/convert.py
  inference/main.py
Due: none

Added min/max positions readings
  runtime/proto/hal_pb.proto
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

Added sync after writing wifi creds
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

Update positions state after writing new positions
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

add hal
  inference/main.py
Due: none

refactor
  inference/main.py
Due: none

fix get/send
  inference/main.py
Due: none

serializing based on efuses; hal.pb update
  runtime/firmware/efuse/Makefile
  runtime/firmware/efuse/efuse.c
  runtime/firmware/efuse/efuse_read_serial.c
  runtime/proto/hal_pb.proto
Due: build-cviwrapper, build-servo, build-runtime

WIP calibration; milkv serialization by efuse data
  .gitlab-ci.yml
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/src/bin/sts_server.rs
Due: build-toolchain, build-cviwrapper, build-servo, build-runtime

Fixed makefile for efuse
  runtime/firmware/efuse/Makefile
Due: build-cviwrapper, build-servo, build-runtime

fix convert.py name and values
  inference/convert.py
  inference/main.py
  inference/standing_micro.onnx
  inference/standing_micro_fixed.onnx
Due: none

pybullet v1
  inference/pybullet/main.py
  inference/pybullet/requirements.txt
  inference/pybullet/urdf/meshes/Left_Hand.stl
  inference/pybullet/urdf/meshes/Torso.stl
  inference/pybullet/urdf/meshes/ankle_pitch_left.stl
  inference/pybullet/urdf/meshes/ankle_pitch_right.stl
  inference/pybullet/urdf/meshes/foot_left.stl
  inference/pybullet/urdf/meshes/foot_right.stl
  inference/pybullet/urdf/meshes/hand_right.stl
  inference/pybullet/urdf/meshes/hip_roll_left.stl
  inference/pybullet/urdf/meshes/hip_roll_right.stl
  inference/pybullet/urdf/meshes/hip_yaw_left.stl
  inference/pybullet/urdf/meshes/hip_yaw_right.stl
  inference/pybullet/urdf/meshes/knee_pitch_right.stl
  inference/pybullet/urdf/meshes/knee_pitch_right_2.stl
  inference/pybullet/urdf/meshes/left_shoulder_yaw_motor.stl
  inference/pybullet/urdf/meshes/right_shoulder_yaw_motor.stl
  inference/pybullet/urdf/meshes/shoulder_yaw_left.stl
  inference/pybullet/urdf/meshes/shoulder_yaw_right.stl
  inference/pybullet/urdf/robot_fixed.urdf
Due: none

fix ik
  inference/pybullet/main.py
Due: none

refactor
  inference/pybullet/main.py
Due: none

Calibration API
  runtime/src/bin/sts_calibration.rs
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

a
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

fixes for deterministic macs
  runtime/firmware/efuse/efuse_read_serial.c
Due: build-cviwrapper, build-servo, build-runtime

update inference
  .gitignore
  inference/__init__.py
  inference/main.py
  inference/main_test.py
  inference/requirements.txt
Due: none

fixed ik
  inference/pybullet/main.py
Due: none

refactor
  teleop/main.py
  teleop/requirements.txt
  teleop/urdf/meshes/Left_Hand.stl
  teleop/urdf/meshes/Torso.stl
  teleop/urdf/meshes/ankle_pitch_left.stl
  teleop/urdf/meshes/ankle_pitch_right.stl
  teleop/urdf/meshes/foot_left.stl
  teleop/urdf/meshes/foot_right.stl
  teleop/urdf/meshes/hand_right.stl
  teleop/urdf/meshes/hip_roll_left.stl
  teleop/urdf/meshes/hip_roll_right.stl
  teleop/urdf/meshes/hip_yaw_left.stl
  teleop/urdf/meshes/hip_yaw_right.stl
  teleop/urdf/meshes/knee_pitch_right.stl
  teleop/urdf/meshes/knee_pitch_right_2.stl
  teleop/urdf/meshes/left_shoulder_yaw_motor.stl
  teleop/urdf/meshes/right_shoulder_yaw_motor.stl
  teleop/urdf/meshes/shoulder_yaw_left.stl
  teleop/urdf/meshes/shoulder_yaw_right.stl
  teleop/urdf/robot_fixed.urdf
Due: none

updated git ignore
  .gitignore
  inference/__pycache__/run_onnx.cpython-312.pyc
Due: none

Added video stream stuff
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

debugging info
  teleop/main.py
Due: none

Absoulte paths for camera binaries
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

add parameters sliders
  teleop/main.py
Due: none

improve performance
  teleop/main.py
Due: none

Path conditions:
  build-toolchain: any of: runtime/toolchain-docker-img/**/*, .gitlab-ci.yml
  build-cviwrapper: any of: runtime/**/*, .gitlab-ci.yml
  build-servo: any of: runtime/**/*, .gitlab-ci.yml
  build-runtime: any of: runtime/**/*, .gitlab-ci.yml
