Repository Zeroth-Robotics/OpenLCH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-toolchain, build-cviwrapper, build-servo, build-runtime

.gitlab-ci.yml:

stages:
  - build-toolchain
  - build-components
  - build-runtime

variables:
  TOOLCHAIN_IMAGE: $CI_REGISTRY/zeroth-robotics/openlch/openlch-runtime-sdk
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_PATHS: runtime/firmware/tpu-sdk-sg200x runtime/firmware/duo-sdk

.runner: &runner
  tags: 
    - linux-x64
  
.c-build: &c-build
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x

build-toolchain:
  <<: *runner
  stage: build-toolchain
  services:
    - docker:dind
  image: docker:latest
  
  script:
    - |
      if [ "$GITLAB_CI" != "false" ]; then
        echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
        docker pull $TOOLCHAIN_IMAGE:latest || true
      fi
    - docker build --progress=plain --cache-from $TOOLCHAIN_IMAGE:latest -t $TOOLCHAIN_IMAGE:latest -f runtime/toolchain-docker-img/Dockerfile .
    - |
      if [ "$GITLAB_CI" != "false" ]; then
        docker push $TOOLCHAIN_IMAGE:latest
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - runtime/toolchain-docker-img/**/*
        - .gitlab-ci.yml

build-cviwrapper:
  <<: *runner
  <<: *c-build
  stage: build-runtime
  image: $TOOLCHAIN_IMAGE:latest
  script:
    - cd runtime/firmware/cviwrapper
    - make
  artifacts:
    paths:
      - runtime/firmware/cviwrapper/libcviwrapper.so
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - runtime/**/*
        - .gitlab-ci.yml

build-servo:
  <<: *runner
  <<: *c-build
  stage: build-runtime
  image: $TOOLCHAIN_IMAGE:latest
  script:
    - cd runtime/firmware/sts3215
    - make
  artifacts:
    paths:
      - runtime/firmware/sts3215/libsts3215.so
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - runtime/**/*
        - .gitlab-ci.yml

build-runtime:
  <<: *runner
  stage: build-runtime
  image: $TOOLCHAIN_IMAGE:latest
  needs:
    - build-cviwrapper
    - build-servo
  script:
    - cd runtime
    - source /root/.cargo/env
    - cargo +nightly build --features risc --target riscv64gc-unknown-linux-musl -Zbuild-std --release

  artifacts:
    paths:
      - runtime/target/riscv64gc-unknown-linux-musl/release/
    exclude:
      - runtime/target/riscv64gc-unknown-linux-musl/release/**/*.d
      - runtime/target/riscv64gc-unknown-linux-musl/release/**/*.rlib
      - runtime/target/riscv64gc-unknown-linux-musl/release/build
      - runtime/target/riscv64gc-unknown-linux-musl/release/build/**/*
      - runtime/target/riscv64gc-unknown-linux-musl/release/deps
      - runtime/target/riscv64gc-unknown-linux-musl/release/deps/**/*
      - runtime/target/riscv64gc-unknown-linux-musl/release/.fingerprint
      - runtime/target/riscv64gc-unknown-linux-musl/release/.fingerprint/**/*
      - runtime/target/riscv64gc-unknown-linux-musl/release/.cargo-lock
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - runtime/**/*
        - .gitlab-ci.yml

add docs
  teleop/README.md
Due: none

Correct library path for start from rc.d
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

save test assets
  inference/test/test_model.onnx
Due: none

main lib
  inference/main.py
Due: none

remove sim dependency
  inference/main.py
Due: none

walking policies (1000 steps)
  README.md
Due: none

Revert "walking policies (1000 steps)"
  README.md
Due: none

Added torque control, fixed speeds, added speeds blabla
  runtime/proto/hal_pb.proto
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

fix inference vecloity, position, and calibration
  __init__.py
  inference/main.py
  inference/test/test.py
Due: none

reverse joints list for joint id mathcing
  inference/main.py
Due: none

servo offsets
  inference/main.py
Due: none

convert input pos deg to rad && reverse lists
  inference/main.py
Due: none

update submodule link
  .gitmodules
Due: none

Use tonik from official github until they release with the tower update
  runtime/Cargo.lock
  runtime/Cargo.toml
Due: build-cviwrapper, build-servo, build-runtime

Reducing image size and maybe speeding up
  runtime/toolchain-docker-img/Dockerfile
Due: build-toolchain, build-cviwrapper, build-servo, build-runtime

moved models to runtime
  .gitmodules
  runtime/models/README.md
  runtime/models/convert_model.sh
Due: build-cviwrapper, build-servo, build-runtime

moved retry logic to freertos
  runtime/src/bin/sts_multitool.rs
Due: build-cviwrapper, build-servo, build-runtime

50HZ inference
  inference/calibrate_all.py
  inference/main.py
  inference/main_test.py
  inference/test/test.py
  inference/test/test_model.onnx
Due: none

set two times for more stable behaviour
  inference/main.py
Due: none

imu protocol update
  runtime/src/hal_risc/mod.rs
Due: build-cviwrapper, build-servo, build-runtime

added imu api for gRPC
  runtime/proto/hal_pb.proto
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

imu build fix
  runtime/src/bin/sts_server.rs
  runtime/src/hal_risc/mod.rs
Due: build-cviwrapper, build-servo, build-runtime

many fixes
  inference/main.py
Due: none

imu protocol rework
  runtime/src/hal_risc/mod.rs
Due: build-cviwrapper, build-servo, build-runtime

IMU
  inference/imu.py
  inference/main.py
Due: none

add requirements
  inference/requirements.txt
Due: none

dashboard MVP
  inference/dashboard.py
  inference/main.py
Due: none

imu integration
  inference/dashboard.py
  inference/main.py
Due: none

Revert "dashboard MVP"
  inference/dashboard.py
  inference/main.py
Due: none

publishing data to mqtt to plot in grafana
  inference/main.py
  inference/requirements.txt
Due: none

fix
  inference/main.py
Due: none

Audio API
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/proto/hal_pb.proto
  runtime/src/bin/sts_server.rs
Due: build-cviwrapper, build-servo, build-runtime

plot imu
  inference/dashboard.py
  inference/main.py
Due: none

snap shots
  inference/dashboard.py
  inference/experiments/freq_1730453394.png
  inference/experiments/imu_1730453394.png
  inference/experiments/pos_1730453394.png
  inference/experiments/vel_1730453394.png
  inference/main.py
Due: none
